"# Plugins (emulated)
"> https://github.com/JetBrains/ideavim/wiki/emulated-plugins
"## IM ideavimextension https://plugins.jetbrains.com/plugin/9615-ideavimextension/
set keep-english-in-normal-and-restore-in-insert

"vim-sneak
set sneak

"## vim-easymotion
"> https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-commands
"   Default Mapping |  <Plug> command       |
"   -----------------------------------------------------------------
"    <ll>f{char}    |  <Plug>(easymotion-f) |  mapped to fn
"    <ll>F{char}    |  <Plug>(easymotion-F) |  mapped to Fn
"    <ll>t{char}    |  <Plug>(easymotion-t) |  mapped to tn
"    <ll>T{char}    |  <Plug>(easymotion-T) |  mapped to Tn
"
"    <ll>w          |  <Plug>(easymotion-w) |
"    <ll>W          |  <Plug>(easymotion-W) |
"    <ll>b          |  <Plug>(easymotion-b) |
"    <ll>B          |  <Plug>(easymotion-B) |
"    <ll>e          |  <Plug>(easymotion-e) |
"    <ll>E          |  <Plug>(easymotion-E) |
"    <ll>ge         |  <Plug>(easymotion-ge |
"    <ll>gE         |  <Plug>(easymotion-gE |
"    <ll>j          |  <Plug>(easymotion-j) |
"    <ll>k          |  <Plug>(easymotion-k) |
"    <ll>n          |  <Plug>(easymotion-n) |
"    <ll>N          |  <Plug>(easymotion-N) |
"    <ll>s          |  <Plug>(easymotion-s) |  mapped to sn
"
"
"    More <Plug> Mapping Table         |  Note
"    ----------------------------------|----------------------
"    <Plug>(easymotion-bd-f)           |
"    <Plug>(easymotion-bd-t)           |  mapped to bd-tn
"    <Plug>(easymotion-bd-w)           |
"    <Plug>(easymotion-bd-W)           |
"    <Plug>(easymotion-bd-e)           |
"    <Plug>(easymotion-bd-E)           |
"    <Plug>(easymotion-bd-jk)          |
"    <Plug>(easymotion-bd-n)           |
"    <Plug>(easymotion-jumptoanywhere) |
"
"    <Plug>(easymotion-repeat)         |  UNSUPPORTED
"    <Plug>(easymotion-next)           |  UNSUPPORTED
"    <Plug>(easymotion-prev)           |  UNSUPPORTED
"
"    <Plug>(easymotion-sol-j)          |
"    <Plug>(easymotion-sol-k)          |
"    <Plug>(easymotion-eol-j)          |
"    <Plug>(easymotion-eol-k)          |
"    <Plug>(easymotion-iskeyword-w)    |
"    <Plug>(easymotion-iskeyword-b)    |
"    <Plug>(easymotion-iskeyword-bd-w) |
"    <Plug>(easymotion-iskeyword-e)    |
"    <Plug>(easymotion-iskeyword-ge)   |
"    <Plug>(easymotion-iskeyword-bd-e) |
"    <Plug>(easymotion-vim-n)          |
"    <Plug>(easymotion-vim-N)          |
"
"    Within Line Motion                | Note
"    ----------------------------------|---------------------------------
"    <Plug>(easymotion-sl)             |  mapped to sln
"    <Plug>(easymotion-fl)             |  mapped to fln
"    <Plug>(easymotion-Fl)             |  mapped to Fln
"    <Plug>(easymotion-bd-fl)          |  mapped to sln
"    <Plug>(easymotion-tl)             |  mapped to tln
"    <Plug>(easymotion-Tl)             |  mapped to Tln
"    <Plug>(easymotion-bd-tl)          |  mapped to bd-tln
"
"    <Plug>(easymotion-wl)             |
"    <Plug>(easymotion-bl)             |
"    <Plug>(easymotion-bd-wl)          |
"    <Plug>(easymotion-el)             |
"    <Plug>(easymotion-gel)            |
"    <Plug>(easymotion-bd-el)          |
"    <Plug>(easymotion-lineforward)    |
"    <Plug>(easymotion-linebackward)   |
"    <Plug>(easymotion-lineanywhere)   |
"
"    Multi Input Find Motion           | Note
"    ----------------------------------|---------------------------------
"    <Plug>(easymotion-s2)             |  mapped to sn
"    <Plug>(easymotion-f2)             |  mapped to fn
"    <Plug>(easymotion-F2)             |  mapped to Fn
"    <Plug>(easymotion-bd-f2)          |  mapped to sn
"    <Plug>(easymotion-t2)             |  mapped to tn
"    <Plug>(easymotion-T2)             |  mapped to Tn
"    <Plug>(easymotion-bd-t2)          |  mapped to bd-tn
"                                      |
"    <Plug>(easymotion-sl2)            |  mapped to sln
"    <Plug>(easymotion-fl2)            |  mapped to fln
"    <Plug>(easymotion-Fl2)            |  mapped to Fln
"    <Plug>(easymotion-tl2)            |  mapped to tln
"    <Plug>(easymotion-Tl2)            |  mapped to Tl2
"                                      |
"    <Plug>(easymotion-sn)             |
"    <Plug>(easymotion-fn)             |
"    <Plug>(easymotion-Fn)             |
"    <Plug>(easymotion-bd-fn)          |
"    <Plug>(easymotion-tn)             |
"    <Plug>(easymotion-Tn)             |
"    <Plug>(easymotion-bd-tn)          |
"                                      |
"    <Plug>(easymotion-sln)            |
"    <Plug>(easymotion-fln)            |
"    <Plug>(easymotion-Fln)            |
"    <Plug>(easymotion-bd-fln)         |
"    <Plug>(easymotion-tln)            |
"    <Plug>(easymotion-Tln)            |
"    <Plug>(easymotion-bd-tln)         |
"
"    Over Window Motion                | Note
"    ----------------------------------|---------------------------------
"    <Plug>(easymotion-overwin-f)      | UNSUPPORTED
"    <Plug>(easymotion-overwin-f2)     | UNSUPPORTED
"    <Plug>(easymotion-overwin-line)   | UNSUPPORTED
"    <Plug>(easymotion-overwin-w)      | UNSUPPORTED
"
"
"    Doesn't exist in EasyMotion       | Description
"    ----------------------------------|----------------------------------
"    <Plug>(acejump-linemarks)         | Analog of Line Motion in AceJump
" need Install IdeaVim-EasyMotion and AceJump plugins

let mapleader=","
set easymotion
"map , <Plug>(easymotion-prefix)
map ,s <Plug>(easymotion-s)
map ,f <Plug>(easymotion-f)

"## vim-surround
"- ys, cs, ds, S
set surround

"## vim-multiple-cursors
"- <A-n>, <A-x>, <A-p>, g<A-n>
set multiple-cursors

"## commentary.vim
"- gcc, gc + motion, v_gc
set commentary

"## ReplaceWithRegister
"- gr, grr
set ReplaceWithRegister

"## argtextobj.vim
"- text object: aa, ia
set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"

"## vim-exchange
"- cx, cxx, X, cxc
set exchange

"## vim-textobj-entire
"- text object: ae, ie
set textobj-entire

"## nerdtree
Plug 'nerdtree'
set nerdtree


"# Settings
"> https://github.com/JetBrains/ideavim/wiki/set-commands

"## select mode setting
"> https://github.com/JetBrains/ideavim/wiki/Select-mode
"set idearefactormode=visual
"set idearefactormode=keep

"## Common settings
set showmode
set showcmd
set scrolloff=5
set incsearch
set number
set clipboard=ideaput
set history=1000

"## Idea specific settings
"### idea join
"> https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideastatusicon=gray
set idearefactormode=keep

"# Debug
map <space>dd :action Debug<CR>
map <space>ds :action Stop<CR>
map <space>db :action ToggleLineBreakpoint<CR>
"map <leader>z :action ToggleDistractionFreeMode<CR>

"# Refactor
map <space>rn :action RenameElement<CR>

"# Reformat
map <space>f :action ReformatCode<CR>
"map <space>fb :action BlackReformatCode<CR>

"# Navigation
map <A-o> :action FileStructurePopup<CR>
map gn    :action GotoNextError<CR>

"# Mark
map <space>ma :action Annotate<CR>
"map <leader>s :action SelectInProjectView<CR>
"map <leader>h :action Vcs.ShowTabbedFileHistory<CR>

"# Cmd List
map <space>l :actionlist
map <space>a :action

"# Copy ref
map <space>cr :action CopyReference<CR>
map <space>cR :action CopyReferencePopup<CR>